@charset "utf-8";

@font-face {
  font-family: Gilgan;
  src: url(fuentes/Gilgan.otf)
}

@font-face {
  font-family: 'Origin tech';
  src: url(fuentes/OriginTech.otf);
}
/* estilos para el body*/
body { 
background-color:#000; 
color:#fff;
font-family: Gilgan, Arial, Verdana;
}


header, #container, footer {
width: 1080px;
}

/* estilos para el header*/
header {
    background-image:url(../imagenes/fondo-header.png);
    background-size: auto;
    background-repeat: no-repeat;
   	}
	
#logo{ }



nav {}



/*
#botones{vertical-align: top;}
#botones ul{ list-style:none;}

#botones li{ float:left; margin: 0 5px;  }

 estilos para el contenedor*/

#slogan { 
font-family:'Origin tech';
}


/* estilos para la barra lateral*/



